<div class="login-class">
  <mat-card>
   <form [formGroup]="formLogin" (submit)="formLoginSubmit()">
    <mat-card-title class="login-title">Login</mat-card-title>

      <mat-form-field>
        <mat-label>Usuário</mat-label>
        <input matInput type="text" placeholder="Usuário de rede" required autocomplete="off" formControlName="user">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput type="password" placeholder="Digite a senha" required formControlName="password">
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Login</button>

      <span (click)="redirectToRegister()">Não é cadastrado ?<h5>Cadastre-se</h5></span>
   </form>
</mat-card>
</div>
