<form style="display: flex; flex-direction: column; text-align: center; justify-content: center; align-items: center; height: 100vh;" [formGroup]="editProductForm" (submit)="putProduct()">
  <h2 style="text-align: center; color: #7A67EE;">Editando produto</h2>
  <mat-form-field>
      <mat-label class="cadastro-title">Nome do produto</mat-label>
      <input matInput type="text" placeholder="Nome do produto" required autocomplete="off" formControlName="nomeProduto" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Descrição do produto</mat-label>
      <input matInput type="text" placeholder="Descrição do produto" autocomplete="off" formControlName="descricaoProduto" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Categoria</mat-label>
       <mat-select formControlName="categoriaId" required>
        @for (category of categoriesData; track category) {
          <mat-option [value]="category.categoriaId">{{category.nomeCategoria}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Preço do produto</mat-label>
      <input matInput type="text" placeholder="Digite o preço" autocomplete="off" formControlName="precoProduto" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Quantidade no estoque</mat-label>
      <input matInput type="text" placeholder="Quantidade disponível" formControlName="quantidadeProduto" required>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Editar Produto</button>
  </form>

