<div class="form-class">
  <h1>Cadastrar produto</h1>
  <form [formGroup]="createProductForm" (submit)="createProductSubmit()">
    <mat-form-field>
      <mat-label class="cadastro-title">Nome do produto</mat-label>
      <input matInput type="text" placeholder="Nome do produto" required autocomplete="off" formControlName="nomeProduto">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Descrição do produto</mat-label>
      <input matInput type="text" placeholder="Descrição do produto" required autocomplete="off" formControlName="descricaoProduto">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Preço do produto</mat-label>
      <input matInput type="text" placeholder="Digite o preço" required autocomplete="off" formControlName="precoProduto">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Quantidade no estoque</mat-label>
      <input matInput type="text" placeholder="Quantidade disponível" required formControlName="quantidadeProduto">
    </mat-form-field>

    <button type="submit" mat-raised-button  color="primary" (click)="closeModalCreateFormSubmti()">Cadastrar Produto</button>
  </form>
</div>
