@import '/src/styles.sass'

  mat-toolbar
  display: flex
  flex-direction: row
  justify-content: space-evenly
  height: 90px
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px

  button
    width: 160px

  .btn-dark
    width: 40px
    height: 40px
    border-radius: 50%


@media screen and (max-width: 900px)
  mat-toolbar
    button
      font-size: 12px
      margin: 2%
      font-weight: bolder
      mat-icon
        display: none

@media screen and (max-width: 600px)
  mat-toolbar
    button
      font-size: 9px
      margin: 2%
      font-weight: bolder
      mat-icon
        display: none
