<mat-toolbar color="primary">

    <button mat-raised-button color="info" (click)="redirecionarDashboard()">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </button>

    <button mat-raised-button color="info" (click)="redirecionarProdutos()">
      <mat-icon>shopping_cart</mat-icon>
        Produtos
    </button>

    <button mat-raised-button color="info" (click)="redirecionarCategorias()">
      <mat-icon>sell</mat-icon>
      Categorias
    </button>

    <button mat-raised-button color="info" (click)="redirecionarVendas()">
      <mat-icon>payments</mat-icon>
        Efetuar venda
    </button>

    <div class="user-session">
      <button mat-mini-fab color="info" (click)="redirecionarPaginaUsuario()">
        <mat-icon>person</mat-icon>
      </button>
    </div>

    <button mat-raised-button color="warn" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Sair
    </button>
</mat-toolbar>
