<mat-toolbar color="primary">

    <button mat-raised-button color="info" (click)="handleDashboard()">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </button>

    <button mat-raised-button color="info" (click)="handleProduct()">
      <mat-icon>shopping_cart</mat-icon>
        Produtos
    </button>

    <button mat-raised-button color="info" (click)="handleCategory()">
      <mat-icon>sell</mat-icon>
      Categorias
    </button>

    <button mat-raised-button color="info" (click)="handleSell()">
      <mat-icon>payments</mat-icon>
        Efetuar venda
    </button>

    <button mat-raised-button color="warn" (click)="handleLogout()">
      <mat-icon>logout</mat-icon>
      Sair
    </button>

    <button mat-mini-fab color="info" class="btn-dark">
      <mat-icon>dark_mode</mat-icon>
    </button>


</mat-toolbar>
