<div class="login-class">

  <form [formGroup]="formLogin" (submit)="loginFormSubmit()">
    <mat-card-title class="login-title">Refaça o login</mat-card-title>

      <mat-form-field>
        <mat-label>Usuário</mat-label>
        <input matInput type="text" placeholder="Usuário de rede" required autocomplete="off" formControlName="userName">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput type="password" placeholder="Digite a senha" required formControlName="password">
      </mat-form-field>

      <div class="button-group">

        <button
        style="margin-right: 2%;"
        type="submit"
        mat-raised-button
        color="warn">
        <mat-icon>delete</mat-icon>
        Excluir
        </button>

        <button
        (click)="closeModalLoginForm()"
        mat-raised-button
        color="primary"
        >
        Voltar
        </button>

      </div>
   </form>

</div>
